
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  text-align: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  
}
.container {
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

  input {
  width: 100%;
  padding: 8px;
  margin: 8px 0 15px;
}
  


.btn {
  width: 100%;
  padding: 10px;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4338ca;
}







